body {
    background-color: white;
}


h1{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}
/* barra de navegacion */
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Cambio de link color on hover */
li a:hover {
    background-color: #282424;
}

.fit {
  max-width: 100%;
}

.mb-3 {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 15px;
  font-weight: bold;
  left: 5%;
  top: 48%;
  text-align: center  
}


.title{
    font-size: 40px;
    text-align: center;
}
.parrafo{
    font-size: 30px;
    text-align: center;
}
/* bicicleta de montaña */
#container {

  /*  border: solid blue; */  
  height: 240px;
  width: 1250px; 
  position: relative;
   
  /*float: left;
  margin: 1%;
  width: 48%; */
  }

#text {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 15px;
    font-weight: bold;
    left: 45%;
    top: 20%;
    text-align: center
  }
#image {
  max-width: 100%;
  position: absolute; 
  left: 10%;
  top: 0;
}

/* bicicleta de gimnasio */
#container-g {
    /* border: solid blue; */ 
    height: 530px;
    width: 1250px; 
    position: relative;
    /*float: left;
    margin: 1%;
    width: 48%; */
  }
  #text-g {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 15px;
    font-weight: bold;
    left: 45%;
    top: 30%;
    text-align: center
  }
  #image-g {
    
    position: absolute;
    left: 8%;
    top: 10;
    
  }
  
/* bicicleta de gravel */

#container-gr {
/*  border: solid blue; */
  height: 300px;
  width: 1250px;
  position: relative;
}
#text-gr {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
  left: 35%;
  top: 25%;
  text-align: center
}
#image-gr {
  position: absolute;
  left: 8%;
  top: 10;
}

 /* bicicleta electrica */

#container-e {
/*  border: solid blue; */
  height: 350px;
  width: 1250px;
  position: relative;
}
#text-e {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
  left: 38%;
  top: 25%;
  text-align: center
}
#image-e {
  position: absolute;
  left: 8%;
  top: 10;
}
  
/* bicicleta carreras */

#container-c {
/*  border: solid blue;  */
  height: 470px;
  width: 1250px;
  position: relative;
}
#text-c {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
  left: 38%;
  top: 25%;
  text-align: center
}
#image-c {
  position: absolute;
  left: 8%;
  top: 10;
}
 
/* bicicleta de paseo */

#container-p {
/*  border: solid blue; */
  height: 350px;
  width: 1250px;
  position: relative;
}
#text-p {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
  left: 38%;
  top: 25%;
  text-align: center
}
#image-p {
  position: absolute;
  left: 8%;
  top: 10;
}

  /* pide de pagina */

.pie_pagina{
  background-color: grey;
  padding-top: 3rem;
  background-size: cover;
  background-position: center;

}
.pie_pagina .cajas_conteiner{
display: flex;
flex-wrap: wrap;
}

.pie_pagina .cajas_conteiner .caja{
flex: 1 1 15rem;
}
.pie_pagina .cajas_conteiner .caja h3{
  font-size: 1.5rem;
  padding: 1rem 0;
  color: wheat;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.pie_pagina .cajas_conteiner .caja p{
    font-size: 1.0rem;
    padding: .5rem 0;
    color:white
}
.pie_pagina .cajas_conteiner .caja a{
    /* display: block; */ 
    font-size: 1.0rem;
    color:white
}


/* Response */

@media(min-width: 320px) and (max-width: 767px) {
   body {
    background-color: aqua;
   }
 
   .navbar-nav .mb-3 {
    flex-direction: column;
   }
   

}
 
@media(min-width: 768px) and (max-width: 1023px) {
  body {
   background-color: white ;
  } 
   
  }


@media(min-width: 1024px) {
  body {
   background-color: wheat ;
  }
 
}

@media(min-width: 2560px) {
  body {
   background-color: green ;
   margin: 0;
  }
 
}