body {
    background-color: white;
}
h1{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
/* Cambio de link color on hover */
li a:hover {
    background-color: #282424;
}
p{
    font-size: 40px;
    text-align: center;
}

#container {
    border: solid blue;
    height: 250px;
    width: 900px;
    position: relative;
  }
  #image {
    position: absolute;
    left: 10%;
    top: 0;
  }
  #text {
    z-index: 100;
    position: absolute;
    color: green;
    font-size: 15px;
    font-weight: bold;
    left: 55%;
    top: 0%;
    text-align: center
  }

.cajas_conteiner{
display: flex;
flex-wrap: wrap;
  }
